.container {
  margin: 0 20px;
  margin-top: 20px;
  max-width: 1200px;
  width: 1200px;
  margin-left: calc(50% - 600px);
}

.logo,
.topmenu {
  display: inline-block;
  
}

.topmenu {
  float: right;
  padding-right: 30px;
  padding-top: 30px;
}

.topmenu a {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: rgb(124, 129, 121);
  text-decoration: none;
  margin-left: 20px;
}

.logo > img {
  padding-left: 10px;
  width: 400px;
}

.banner {
  height: 1000px;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-image: url("./images/imagebanner.jpg");
  object-fit: cover;
  font-family: 'Playfair Display', serif;
  color:rgb(59, 43, 32);
  text-align: left;
  width: 100%;
  background-size: cover;
  background-position: top;
  object-fit: cover;
  margin-bottom: 80px;
  margin-top: 100px;
  padding-top: 30px;
}


.buttons a {
  font-family: "Patua One", cursive;
  font-size: 60px;
  color: rgb(124, 129, 121);
  text-decoration: none;
  display: inline-block;
  letter-spacing: -2px;
  margin: 0 10px;
}


.banner button {
  float: left;
  display: block;
  height: 60px;
  width: 160px;
  border-radius: 5px;
  border-style: none;
  color:rgb(59, 43, 32);
  font-family: "Arvo", serif;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 40px;
  cursor: pointer;
 
}
.banner h1 {
  font-size: 40px;
  font-family: "Arvo", serif;
  text-align: left;
  padding-right: 30px;
  color: rgb(59, 43, 32);
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.banner p {
  font-family: "Arvo", serif;
  text-align: left;
  color: rgb(87, 63, 46);
  padding-right: 40px;
  margin-top: 0;
  margin-left: 40px;
}

.buttons {
  width: 500px;
  margin-left: calc(50% - 250px);
}
